#admin-products {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-family: "Poppins", sans-serif;
    min-height: 70vh;
    gap: 2em;

    @media (width <=1020px) {
        width: 100%;
    }

    #filter {
        span {
            position: relative;
            display: flex;
            align-items: center;
            border-radius: 6px;
            background: white;
            width: 100%;

            i {
                position: absolute;
                right: 1em;
                color: black;
                cursor: pointer;

                @media (width <=370px) {
                    font-size: 14px;
                }
            }
        }

        input,
        select {
            border: 2px solid #333;
            outline: none;
            padding: 1em;
            font-size: 16px;
            color: #565656;
            transition: all 0.2s linear;
            background: white;

            @media (width <=650px) {
                font-size: 14px;
            }

            @media (width <=540px) {
                font-size: 12px;
            }

            @media (width <=480px) {
                padding: 0.4em 0.6em;
            }

            &:focus {
                border: 2px solid #91BA8D;
                border-radius: 3px;
            }
        }

        input {
            width: 100%;
        }

        select {
            appearance: none;
            background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="%239F9F9F" d="M7 10l5 5 5-5z"/></svg>');
            background-repeat: no-repeat;
            background-position: right 15px center;
            background-size: 24px;
            width: 25%;

            @media (width <=650px) {
                background-position: right 10px center;
            }

            @media (width <=520px) {
                background-position: right 3px center;
            }

            @media (width <=440px) {
                background-position: right -3px center;
            }
        }

        button {
            border: 2px solid #333;
            outline: none;
            padding: 1em 1.8em;
            font-size: 16px;
            color: #565656;
            transition: all 0.2s linear;
            background: white;
            cursor: pointer;

            @media (width <=650px) {
                font-size: 14px;
            }

            @media (width <=540px) {
                font-size: 12px;
            }

            @media (width <=480px) {
                padding: 0.4em 0.6em;
            }

            &:hover {
                border: 2px solid #91BA8D;
                border-radius: 3px;
                color: #91BA8D;
            }
        }
    }

    &>span {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 6px;
        background: white;
        width: 100%;

        input {
            width: 100%;
            border: 2px solid #333;
            outline: none;
            padding: 1em;
            background: transparent;
            font-size: 16px;
            color: #565656;
            transition: all 0.2s linear;

            @media (width <=450px) {
                font-size: 14px;
            }

            @media (width <=370px) {
                font-size: 12px;
            }

            &:focus {
                border: 2px solid #91BA8D;
                border-radius: 3px;
            }
        }

        i {
            position: absolute;
            right: 1em;
            color: black;
            cursor: pointer;

            @media (width <=370px) {
                font-size: 14px;
            }
        }
    }

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 3em;

        @media (width <=600px) {
            gap: 1.8em;
        }

        @media (width <=451px) {
            gap: 1em;
        }

        h4 {
            width: 25%;
            font-weight: 500;
            font-size: 20px;

            @media (width <=700px) {
                font-size: 18px;
            }

            @media (width <=550px) {
                font-size: 15px;
                font-weight: 400;
            }

            @media (width <=350px) {
                font-size: 14px;
            }
        }

        p {
            @media (width <=700px) {
                font-size: 14px;
            }

            @media (width <=550px) {
                font-size: 12px;
            }
        }

        form {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2em;

            @media (width <=600px) {
                gap: 1em;
                justify-content: space-between;
                width: 40%;
            }

            @media (width <=450px) {
                gap: 0.6em;
            }

            input {
                border: 2px solid #333;
                outline: none;
                font-size: 15px;
                color: #9F9F9F;
                padding: 0.7em 1em;
                transition: all 0.2s linear;
                scrollbar-width: thin;
                scrollbar-color: #91BA8D transparent;

                @media (width <=800px) {
                    width: 100%;
                }

                @media (width <=700px) {
                    font-size: 13px;
                }

                @media (width <=570px) {
                    font-size: 11px;
                    width: 30%;
                }

                &:focus {
                    border: 2px solid #91BA8D;
                    border-radius: 3px;
                }
            }

            button {
                background: #91BA8D;
                color: white;
                font-size: 16px;
                padding: 0.5em 1.5em;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background 0.3s ease;

                &:hover {
                    background: #91ba8dc9;
                }

                @media (width <=700px) {
                    font-size: 14px;
                }

                @media (width <=550px) {
                    font-size: 12px;
                    padding: 0.3em 1.2em;
                    width: 60%;
                }
            }
        }

        &>button,
        &>a {
            padding: 0.5em 1.5em;
            font-size: 16px;
            color: #ffffff;
            cursor: pointer;
            border: 1px solid #606060;
            transition: all 0.2s ease;
            align-self: stretch;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (width <=700px) {
                font-size: 14px;
            }

            @media (width <=550px) {
                font-size: 12px;
                padding: 0.3em 1.2em;
            }

            @media (width <=350px) {
                font-size: 10px;
            }

            &.edit {
                background: orange;

                &:hover {
                    background: rgba(255, 166, 0, 0.832);
                }
            }

            &.delete {
                background: red;

                &:hover {
                    background: rgba(255, 0, 0, 0.767);
                }
            }
        }
    }

    &>p {
        font-size: 28px;
        font-weight: 500;
        color: gray;
        padding: 1em 3em;
        text-align: center;
        text-wrap: balance;

        @media (width <=470px) {
            font-size: 22px;
        }
    }
}