#products {
    background: rgb(252, 252, 238);
    min-height: 70vh;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;

    #products-nav {
        width: 100%;
        padding: 0 2em;
        /* background: #2C3E50; */
        background: #E4E4E4;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        display: flex;
        justify-content: start;
        color: #F8F8F2;
        font-size: 1.1em;

        .nav-item {
            position: relative;

            &:hover .dropdown {
                display: block;
            }

            &>p {
                padding: 0.9em 1.6em;
                cursor: pointer;
                transition: all 0.2s ease;
                white-space: nowrap;
                color: #000;

                &:hover {
                    /* background: #15489d; */
                    background: #d7d7d7;
                }
            }

            .dropdown {
                display: none;
                top: calc(100% + 1px);
                width: 100%;
                /* background: #2C3E50; */
                background: #d1d1d1;
                z-index: 1;

                &:hover {
                    display: block;
                }

                p {
                    padding: 0.8em 1.6em;
                    cursor: pointer;
                    white-space: nowrap;
                    transition: all 0.2s ease;
                    color: #000;

                    &:hover {
                        /* background: #15489d; */
                        background: #dbdbdb;
                    }
                }
            }
        }
    }

    &>h1 {
        font-weight: 500;
        margin-bottom: 24px;
        font-size: 2.5em;
        position: relative;
        padding-top: 3em;

        @media (width <=370px) {
            font-size: 28px;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: #91BA8D;
        }
    }

    .products-filter {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2em 3em;
        margin-top: 2em;
        padding: 0 4em;

        @media (width <= 450px) {
            padding: 0 1.5em;
        }
        
        div {
            display: flex;
            justify-content: space-between;
            min-width: 250px;
            gap: 1em;
            background: #91BA8D;
            color: rgb(244, 237, 237);
            padding: 0.4em 1.2em;
            border-radius: 999px;

            p {
                font-size: 19px;
                text-wrap: balance;

                @media (width <= 450px) {
                    font-size: 17px;   
                }
            }

            button {
                background: transparent;
                border: none;
                color: rgb(244, 237, 237);
                font-size: 24px;
                cursor: pointer;
                transition: all 0.2s ease;

                @media (width <= 450px) {
                    font-size: 20px;
                }

                &:hover {
                    color: rgb(224, 224, 224);
                }
            }
        }
    }

    & > .products-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;

        &>p {
            font-size: 28px;
            font-weight: 500;
            color: gray;
            padding: 1em 3em;
            text-align: center;
            text-wrap: balance;
    
            @media (width <= 470px) {
                font-size: 22px;
            }
        }

        .sort {
            align-self: flex-start;
            display: grid;
            align-items: center;
            grid-template-columns: 3.1fr 6.6fr;
            gap: 3em;
            width: 100%;
            margin: 1em 0 3em 0;

            @media (width <= 600px) {
                gap: 1.5em;
            }

            @media (width <= 470px) {
                grid-template-columns: 1.5fr 2fr;
                margin: 1em 0 1.5em 0;
            }

            select, input {
                font-size: 15px;
                color: #9F9F9F;
                padding: 0.8em 1.7em;
                transition: all 0.2s linear;
                border: 2px solid #333;
                outline: none;
                background: white;

                @media (width <= 600px) {
                    padding: 0.8em 1.2em;
                }

                @media (width <= 470px) {
                    font-size: 13px;
                }

                &:focus {
                    border: 2px solid #91BA8D;
                    border-radius: 3px;
                }
            }

            & > select {
                appearance: none;
                background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="%239F9F9F" d="M7 10l5 5 5-5z"/></svg>');
                background-repeat: no-repeat;
                background-position: right 15px center;
                background-size: 24px;

                @media (width <= 600px) {
                    background-position: right 10px center;
                }
            }

            span {
                position: relative;
                display: flex;
                align-items: center;
                border-radius: 6px;
                background: white;

                input {
                    width: 100%;
                }
        
                i {
                    position: absolute;
                    right: 1em;
                    color: black;
                    cursor: pointer;
                }
            }
        }

        .products-content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
            gap: 3em;
            width: 100%;
            margin-bottom: 2em;
    
            @media (width <=750px) {
                grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
            }

            .product {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background: #F4F5F7;
                border: 1px solid #E4E4E4;
                min-height: 430px;
                position: relative;
    
                img {
                    width: 100%;
                    height: 300px;
    
                    @media (width <=370px) {
                        height: 200px;
                    }
                }
    
                i {
                    font-size: 24px;
                    position: absolute;
                    top: 0.5em;
                    right: 0.5em;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    padding: 0.5em;
    
                    @media (width <=370px) {
                        font-size: 22px;
                        top: 0.3em;
                        right: 0.3em;
                    }
    
                    @media (width <=250px) {
                        font-size: 20px;
                        top: 0.2em;
                        right: 0.2em;
                    }

                    &:hover {
                        color: #5e5e5e;
                    }
    
                    &.fill {
                        color: #91BA8D;

                        &:hover {
                            color: #9fcb9a;
                        }
                    }
                }
    
                span {
                    padding: 1em;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 0.8em;
                    width: 100%;
    
                    &> :nth-child(1) {
                        font-size: 1.5em;
                        font-weight: 400;
    
                        @media (width <=370px) {
                            font-size: 1.2em;
                        }
                    }
    
                    &> :nth-child(2) {
                        font-size: 1em;
                        font-weight: 300;
                        color: #A0A0A0;
                        word-break: keep-all;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: -webkit-box;
                        line-clamp: 3;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        line-height: 24px;
                        height: calc(3 * 24px);
    
                        @media (width <=370px) {
                            font-size: 0.8em;
                        }
                    }
    
                    &> :nth-child(3) {
                        font-size: 1.2em;
                        font-weight: 300;
                        word-break: keep-all;
    
                        @media (width <=370px) {
                            font-size: 1em;
                        }
                    }
    
                    div {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
    
                        @media (width <=250px) {
                            flex-direction: column;
                            gap: 0.7em;
                        }
    
                        &>a {
                            font-family: "Poppins", sans-serif;
                            padding: 0.5em 1em;
                            background: #fff;
                            border: 1px solid #000;
                            border-radius: 4px;
                            color: #000;
                            font-weight: 600;
                            cursor: pointer;
                            transition: all 0.3s ease;
                            font-size: 16px;
    
                            @media (width <=370px) {
                                font-size: 14px;
                                padding: 0.4em 0.8em;
                            }
    
                            @media (width <=250px) {
                                text-align: left;
                                width: fit-content;
                            }
    
                            &:hover {
                                background: #000;
                                color: #fff;
                                border: 1px solid #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}