span {
    @media (width <= 800px) {
        width: 100%;
        position: relative;
        overflow-x: scroll;
        scrollbar-width: thin;
        scrollbar-color: #91BA8D transparent;

        thead th:first-child,
        tbody td:first-child {
            position: sticky;
            left: 0;
        }
    }

    table {
        width: 100%;
        background: #f4f5f7;
        border-collapse: collapse;
        border: 1px solid #e4e4e4;

        @media (width <= 800px) {
            width: 140%;
        }

        thead,
        tbody {
            text-align: left;

            tr {
                td,
                th {
                    border: 1px solid #e4e4e4;
                    padding: 0.8em;

                    @media (width <= 500px) {
                        padding: 0.3em 0.6em;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        i {
                            font-size: 20px;
                            color: #91ba8d;
                            transition: all 0.2s ease;

                            &:hover {
                                color: #91ba8dc9;
                            }
                        }
                    }
                }

                th {
                    background: #91ba8d;
                    color: #fff;
                    font-weight: 500;
                    font-size: 18px;
                    border-top: 0;

                    @media (width <= 500px) {
                        font-size: 16px;
                    }
                }

                td {
                    background: #F4F5F7;

                    @media (width <= 500px) {
                        font-size: 14px;
                    }
                }
            }

            tr:last-child td {
                border-bottom: 0;
            }

            tr td:first-child,
            tr th:first-child {
                border-left: 0;
            }

            tr td:last-child,
            tr th:last-child {
                border-right: 0;
            }
        }
    }
}