#contact-us {
    width: 100%;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background: #fff;
    min-height: 70vh;

    h1 {
        font-weight: 500;
        margin-bottom: 24px;
        font-size: 2.5em;
        position: relative;

        @media (width <=700px) {
            font-size: 2em;
        }

        @media (width <=570px) {
            font-size: 1.8em;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: #91BA8D;
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 85%;
        gap: 2em;

        @media (width <=800px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90%;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5em;
            width: 40%;

            @media (width <= 800px) {
                gap: 0.8em;
                width: 90%;
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 0.8em;
                width: 100%;

                @media (width <= 800px) {
                    gap: 0.5em;
                }

                label {
                    font-weight: 500;
                    font-size: 17px;

                    @media (width <=700px) {
                        font-size: 15px;
                    }
                }

                input,
                textarea {
                    border: 2px solid #333;
                    outline: none;
                    width: 100%;
                    font-size: 15px;
                    color: #9F9F9F;
                    padding: 1.5em 2em;
                    transition: all 0.2s linear;
                    resize: none;
                    field-sizing: content;
                    scrollbar-width: thin;
                    scrollbar-color: #91BA8D transparent;

                    @media (width <=800px) {
                        width: 100%;
                    }

                    @media (width <=700px) {
                        font-size: 13px;
                    }

                    &:focus {
                        border: 2px solid #91BA8D;
                        border-radius: 3px;
                    }
                }

                textarea {
                    min-height: 35vh;
                    max-height: 50vh;
                    font-family: "Poppins", sans-serif;
                }
            }

            button {
                background: #91BA8D;
                color: white;
                font-size: 16px;
                padding: 0.6em 2em;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background 0.3s ease;
                
                &:hover {
                    background: #91ba8dc9;
                }
            
                @media (width <=700px) {
                    font-size: 14px;
                }
            }
        }

        #map {
            width: 45%;

            @media (width <= 800px) {
                width: 90%;
            }

            iframe {
                border: none;
                width: 100%;
                height: 500px
            }
        }
    }
}