#nav-overlay {
    position: fixed;
    background: rgb(252, 252, 238);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    opacity: 0;
    font-family: "Poppins", sans-serif;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.5s ease;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;

        a, i {
            font-size: 26px;
            color: #000;
            transition: all 0.3s ease;

            @media (width <= 300px) {
                font-size: 22px;
            }

            &:hover {
                color: #91BA8D;
            }
        }
    }

    button {
        background: transparent;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;

        i {
            font-size: 34px;
            transition: all 0.3s ease;

            &:hover {
                color: #91BA8D;
            }
        }
    }
}

#site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #91BA8D;
    padding: 1em 3em;
    font-family: "Poppins", sans-serif;

    @media (width <= 480px) {
        padding: 1em 1.5em;
    }

    @media (width <= 300px) {
        padding: 0.75em 1em;
    }

    & > #responsive-nav {
        display: none;
        justify-content: center;
        align-items: center;
        gap: 1em;

        @media (width <= 750px) {
            display: flex;
        }

        button {
            font-size: 26px;
            padding: 8px;
            background: transparent;
            cursor: pointer;
            color: rgb(244, 237, 237);
            border: none;
    
            @media (width <= 480px) {
                font-size: 22px;
            }
        }

        img {
            @media (width <= 480px) {
                width: 24px;
            }
        }
    }

    .favorites-overlay-container {
        position: fixed;
        top: 0;
        left: 0;
        background: #00000054;
        width: 100vw;
        z-index: 10000;
        height: 100%;
        display: flex;
        visibility: hidden;
        opacity: 0;
        justify-content: flex-end;
        align-items: start;
        transition: all 0.3s linear;
    }

    .active-overlay-container {
        visibility: visible;
        opacity: 1;
    }

    .favorites-overlay-container,
    .active-overlay-container {
        .favorites-overlay {
            background: #FFFFFF;
            overflow-x: hidden;
            width: 32%;
            min-height: 746px;
            max-height: 70vh;
            padding: 24px;
            display: flex;
            justify-content: center;
            position: absolute;
            right: -100%;
            top: 0;
            transition: all 0.3s linear;

            @media (width <= 1000px) {
                width: 80%;
                height: 100vh;
                max-height: none;       
            }

            @media (width <= 475px) {
                padding: 20px 16px;              
            }
        }

        .active-overlay-content {
            right: 0;
            background: rgb(252, 252, 238);
        }

        .favorites-overlay,
        .active-overlay-content {
            .overlay-text-container {
                min-width: 85%;

                .overlay-top {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    flex-direction: column;
                    gap: 20px;
                    align-items: start;
                    overflow: hidden;

                    .overlay-header {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 14.5px;

                        @media (width <= 400px) {
                            gap: 10px;
                        }

                        h2 {
                            font-weight: 600;
                            font-size: 26px;
                            color: #333333;

                            @media (width <= 1200px) {
                                font-size: 22px;
                            }

                            @media (width <= 1000px) {
                                font-size: 30px;
                            }

                            @media (width <= 575px) {
                                font-size: 26px;
                            }

                            @media (width <= 400px) {
                                font-size: 22px;
                            }
                        }

                        i {
                            border-radius: 100%;
                            padding: 7px;
                            font-size: 20px;
                            transition: all 0.3s ease;
                            color: #9F9F9F;

                            @media (width <= 1200px) {
                                font-size: 18px;
                            }

                            @media (width <= 1000px) {
                                font-size: 24px;   
                            }

                            @media (width <= 575px) {
                                font-size: 20px;   
                            }

                            @media (width <= 400px) {
                                font-size: 18px;
                            }

                            &:hover {
                                background: rgb(237, 237, 237);
                            }
                        }
                    }

                    hr {
                        height: 2px;
                        background: #91BA8D;
                        border: none;
                        width: 80%;
                    }

                    .overlay-products {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 80%;
                        overflow-y: scroll;
                        gap: 20px;
                        scrollbar-width: thin;
                        /* For Firefox */
                        scrollbar-color: #91BA8D transparent;
                        /* Custom color for the slider, no track background */

                        @media (width <= 440px) {
                            height: 85%;
                        }

                        /* Webkit-based browsers (Chrome, Edge, Safari) */
                        &::-webkit-scrollbar {
                            width: 7px;
                            /* Thin scrollbar */
                        }

                        &::-webkit-scrollbar-track {
                            background: transparent;
                            /* No background */
                        }

                        &::-webkit-scrollbar-thumb {
                            background: #91BA8D;
                            /* Green slider */
                            border-radius: 10px;
                            /* Smooth rounded edges */
                        }

                        &::-webkit-scrollbar-button {
                            display: none;
                            /* Hides scrollbar arrows */
                        }

                        &>p {
                            font-size: 20px;

                            @media (width <= 1000px) {
                                font-size: 24px;  
                            }

                            @media (width <= 575px) {
                                font-size: 20px;
                            }

                            @media (width <= 400px) {
                                font-size: 18px;
                            }
                        }

                        div {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            max-width: 95%;
                            gap: 0.2em;

                            @media (width <= 1000px) {
                                gap: 0.5em;
                            }

                            @media (width <= 400px) {
                                gap: 0.3em;
                            }

                            img {
                                width: 35%;
                                height: auto;
                                aspect-ratio: 1 / 1;
                                border-radius: 10px;

                                @media (width <= 1000px) {
                                    min-width: 180px;
                                }

                                @media (width <= 575px) {
                                    min-width: 140px;
                                }

                                @media (width <= 440px) {
                                    min-width: 100px;
                                }

                                @media (width <= 370px) {
                                    min-width: 80px;
                                }
                            }

                            p {
                                width: 25%;

                                @media (width <= 1000px) {
                                    font-size: 18px;
                                }

                                @media (width <= 575px) {
                                    font-size: 16px;
                                }

                                @media (width <= 400px) {
                                    font-size: 14px;
                                }
                            }

                            i {
                                border-radius: 100%;
                                font-size: 18px;
                                padding: 0.5em;
                                transition: all 0.3s ease;
                                color: #9F9F9F;

                                @media (width <= 1000px) {
                                    font-size: 20px;
                                }

                                @media (width <= 400px) {
                                    font-size: 18px;
                                }
                                
                                &.fill {
                                    color: #91BA8D;
                                }

                                &:hover {
                                    background: rgb(237, 237, 237);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    & > a > img {
        width: 17vw;

        @media (width <= 750px) {
            width: 25vw;
        }

        @media (width <= 600px) {
            width: 35vw;
        }

        @media (width <= 350px) {
            width: 40vw;
        }
    }

    nav {
        display: flex;
        gap: 2.5rem;
        align-items: end;
        height: 100%;

        @media (width <= 900px) {
            gap: 1.5em;
        }

        @media (width <= 750px) {
            display: none;
        }

        & > * {
            height: 100%;
        }

        & > a {
            font-size: 20px;
            transition: all 0.3s ease;
            color: rgb(244, 237, 237);

            @media (width <=800px) {
                font-size: 18px;
            }

            &:hover {
                color: #000;
            }

            &:active {
                color: #494949;
            }

            &::after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background: #000;
                transition: width 0.3s;
                margin-top: 2px;
            }

            &:hover::after {
                width: 100%;
            }
        }

        #favorites-icon {
            border-radius: 100%;
            transition: all 0.3s ease;
            padding: 7px;
            aspect-ratio: 1 / 1;
            cursor: pointer;
            font-size: 24px;
            color: rgb(244, 237, 237);

            @media (width <=800px) {
                font-size: 20px;
            }

            &:hover {
                color: #000;
            }

            &:active {
                color: #494949;
            }

            &::after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background: #000;
                transition: width 0.3s;
                margin-top: 5px;
            }

            &:hover::after {
                width: 100%;
            }
        }
        
        img {
            width: 30px;
            margin-bottom: 0.3em;
            cursor: pointer;

            @media (width <=800px) {
                width: 26px;
            }
        }
    }
}