.pagination-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-bottom: 2.5em;

    button {
        background: #91BA8D;
        color: white;
        font-size: 18px;
        padding: 0.6em 1.5em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease;
        border: 1px solid #91BA8D;
        
        &:hover {
            background: transparent;
            color: #91BA8D;
        }

        &:disabled {
            background: #D3D3D3;
            color: #888888;
            cursor: not-allowed;
            border: none;
        }

        a {
            color: #FFFFFF;
        }
    }

    p {
        font-size: 18px;
        color: #91BA8D;
    }
}