#profile-data {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 1em;

    @media (width <= 1020px) {
        width: 100%;
    }

    @media (width <= 550px) {
        gap: 0.7em;
    }

    h1 {
        font-weight: 500;
        font-size: 34px;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 3em;

        @media (width <= 806px) {
            flex-direction: column;
        }

        @media (width <= 550px) {
            gap: 2em;
        }

        .data,
        .change-password {
            display: flex;
            flex-direction: column;
            width: 40%;
            gap: 0.8em;

            @media (width <= 806px) {
                width: 100%;
            }

            h2 {
                font-weight: 400;
                font-size: 24px;
                color: var(--color-primary);
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 0.6em;
            }

            button {
                margin-top: 1em;
                font-size: 1em;

                @media (width <= 550px) {
                    margin-top: 0.5em;
                }
            }
        }

        .data {
            form {
                div {
                    label {
                        font-weight: 500;
                        font-size: 17px;
                    }
                }
            }
        }
    }
}